<mat-toolbar color="primary" role="banner">
    <a [routerLink] = "['/']">
        <img
            width="40"
            object-fix="fill"
            alt="Logo"
            src="assets/logo.png"
            style="margin-right: 10px;position:relative;top:20px"
        />
    </a>
    <span [routerLink] = "['/']" class="toolbar-button">Kraken's Cove</span>
    <div class="tab"></div>
    <span [routerLink] = "['/items']" class="toolbar-button">Items</span>
    <div class="spacer"></div>
    <span [routerLink] = "['/contact']" class="toolbar-button">Contact</span>
  </mat-toolbar>